# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Virtual environments
venv/
.env
.env.*

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python package/build
build/
dist/
*.egg-info/
